
<%- include('../layout/head') %>
<body>

	<!-- ======= Header ======= -->
	<header id="header" class="fixed-top ">
	  <div class="container-fluid d-flex align-items-center justify-content-between">
  
		<h1 class="logo"><a href="/">RSVote</a></h1>
		<!-- Uncomment below if you prefer to use an image logo -->
		<!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
  
		<nav class="nav-menu d-none d-lg-block">
		  <ul>
			<li class="active"><a href="/">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Services</a></li>
			
			<li><a href="#contact">Contact</a></li>
			<li><a href="/login">login</a></li>
		  </ul>
		</nav><!-- .nav-menu -->
  
		<a href="#about" class="get-started-btn scrollto">Get Started</a>
  
	  </div>
	</header><!-- End Header -->
  
	
  
	<main id="main">
  
	  <!-- ======= About Section ======= -->
	  <section id="about" class="about">
		<div class="container" data-aos="fade-up">
		  
		  <div class="row justify-content-end">
			
			<div class="col-lg-11">
			  <div class="row justify-content-end">
				<div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
				  <div class="count-box">
					<i class="icofont-simple-smile"></i>
					<span data-toggle="counter-up">65</span>
					<p>Happy Clients</p>
				  </div>
				</div>
  
				<div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
				  <div class="count-box">
					<i class="icofont-document-folder"></i>
					<span data-toggle="counter-up">85</span>
					<p>Projects</p>
				  </div>
				</div>
  
				<div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
				  <div class="count-box">
					<i class="icofont-clock-time"></i>
					<span data-toggle="counter-up">12</span>
					<p>Years of experience</p>
				  </div>
				</div>
  
				<div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
				  <div class="count-box">
					<i class="icofont-award"></i>
					<span data-toggle="counter-up">15</span>
					<p>Awards</p>
				  </div>
				</div>
  
			  </div>
			</div>
		  </div>
  
		  
  
		</div>
	  </section><!-- End About Section -->
  
	   <!-- ======= Team Section ======= -->
	   <section id="team" class="team section-bg">
	   <% poll.forEach(function(p){%>
		
			<div class="container" data-aos="fade-up">
	  
			  <div class="section-title">
				<h2><%= p.title%></h2>
			  </div>
	  
			  <div class="row">
				
				<% contests.forEach(function(con){%>
					<% if(p.id == con.contest_for) {%>
					<div class="col-lg-4 col-md-4">
						<div class="member" data-aos="fade-up" data-aos-delay="100">
							<div class="pic"><img src="/asset/img/team/team-1.jpg" class="img-fluid" alt=""></div>
							<div class="member-info">
							<h6><%= con.names%> : Platoon <%= con.platoon%></h6>
							<span><%= con.state_code%></span><span><%= con.callup_number%></span>
							<div class="social">
								<a href="/vote?contestantid=<%= con.id%>&pollid=<%= con.contest_for%>" class="details-link" title="More Details"><i class="icofont-check"></i>Vote</a>
							</div>
							</div>
						</div>
					</div>
					<%}%>
	  		   <%});%>
	  
			  </div>
	  
			</div>
		  
		<%});%>
	</section><!-- End Team Section -->
		
	   
  
	</main><!-- End #main -->


<%- include('../layout/footer') %>