
<%- include('../layout/head') %>
<body>

	<!-- ======= Header ======= -->
	<header id="header" class="fixed-top ">
	  <div class="container-fluid d-flex align-items-center justify-content-between">
  
		<h1 class="logo"><a href="/">RSVote</a></h1>
		
  
		<nav class="nav-menu d-none d-lg-block">
		  <ul>
			<li class="active"><a href="/">Home</a></li>
			
			<li><a href="/login">login</a></li>
		  </ul>
		</nav><!-- .nav-menu -->
  
  
	  </div>
	</header><!-- End Header -->
  
	<!-- ======= Hero Section ======= -->
	<section id="hero">
	  <div class="hero-container" data-aos="fade-up" data-aos-delay="150">
		<h1>RIVERS STATE CAMP VOTING SYSTEM</h1>
		<h2>Vote for your favorite contestant</h2>
		
	  </div>
	</section><!-- End Hero -->
  
	<main id="main">
  
	  <!-- ======= About Section ======= -->
	 
  
	  
	  <!-- ======= Contact Section ======= -->
	
  
	</main><!-- End #main -->


<%- include('../layout/footer') %>