
<%- include('../layout/head') %>
<body>
   <!-- ======= Header ======= -->
   <header id="header" class="fixed-top header-inner-pages">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">RSVote</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>
         
          <li class="active"><a href="/login">login</a></li>
          
         

        </ul>
      </nav><!-- .nav-menu -->
      

    </div>
  </header><!-- End Header -->
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Login</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>login</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="row" style="height: 300px;">
        <div class="col-md-6">
          
        </div>
        <div class="col-md-6">
          <div id="content1">
            <form action="/login" method="post" role="form" class="php-email-for">
              <label for="">LOGIN</label>
              <div class="text-center">
                <%- messages('messages', locals) %>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="username" id="username" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" data-rule="password" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
              
              <div class="text-center"><button type="submit" class="btn btn-primary">login</button></div>
            </form>
          </div>
          
        </div>
        
      </div>
      
    </div>
  </section>

</main>
<!-- End #main -->


<%- include('../layout/footer') %>