
<%- include('../layout/head') %>
<body>
   <!-- ======= Header ======= -->
   <header id="header" class="fixed-top header-inner-pages">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Dewi</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li class="active"><a href="/login">login</a></li>
          
          <li><a href="#">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->
      
      <a href="#about" class="get-started-btn scrollto">Get Started</a>

    </div>
  </header><!-- End Header -->
<main id="main">
	
  
	<main id="main">
  
	 <!-- ======= Breadcrumbs ======= -->
	 <section class="breadcrumbs">
		<div class="container">
	
		  <div class="d-flex justify-content-between align-items-center">
			<h2>Success </h2>
			<ol>
			  <li><a href="/">Home</a></li>
			  <li>Vote Recieved</li>
			</ol>
		  </div>
	
		</div>
	  </section><!-- End Breadcrumbs -->
	  <!-- ======= About Boxes Section ======= -->
	  <section id="about-boxes" class="about-boxes">
		<div class="container" data-aos="fade-up">
  
		  <div class="row">
			<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
			  
			</div>
			<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
			  <div class="card">
				   <!-- <img src="asset/img/about-boxes-2.jpg" class="card-img-top" alt="..."> -->
				<div class="card-icon">
				  <i class="ri-calendar-check-line"></i>
				</div>
				<div class="card-body">
          CALLUP NO: <%= result.callup_number %>
          STATE CODE: <%= result.state_code %>
          BATCH: <%= result.batch %>
          STREAM NO: <%= result.stream %>
				  <table class="table table-bordered">
            <tr>
              <td>Name</td>
              <td><%= result.names %></td>
            </tr>
            <tr>
              <td>position</td>
              <td><%= result.title %></td>
            </tr>
            <tr>
              <td>Platoon</td>
              <td><%= result.platoon %></td>
            </tr>
            <tr>
              <td>Voters Email</td>
              <td><%= result.email %></td>
            </tr>
            <tr>
              <td>Voute Count</td>
              <td><%= result.votes %></td>
            </tr>
            <tr>
              <td>Total Vote So Far</td>
              <td></td>
            </tr>
            <tr>
              <td>Status</td>
              <td>
                <%  result.status == 1? "success": "fail"; %>
              </td>
            </tr>
          </table>
				 
				  
				</div>
			  </div>
			</div>
			<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
			 
			</div>
		  </div>
  
		</div>
	  </section><!-- End About Boxes Section -->
		
	   
  
	</main><!-- End #main -->


<%- include('../layout/footer') %>
