
<%- include('../layout/admin/loginh') %>
<div class="login" style="background-image: url(asset/img/slide/slide-1.jpg);">
  <div class="wrapper wrapper-login">
    <div class="container container-login animated fadeIn">
      <h3 class="text-center">REGISTRATION</h3>
      <% for (err1 of Error){ %>
        <li><%= err1.msg %></li>
        <% } %>  <%= err %>
        <%- messages('messages', locals) %>
      <form action="/registration" method="post" enctype="multipart/form-data">
          <div class="login-form row">
            
            <div class="form-group form-floating-label col-md-6">
              <input  id="fullname" name="firstname" type="text" class="form-control input-border-bottom" required>
              <label for="fullname" class="placeholder">First Name</label>
            </div>
            <div class="form-group form-floating-label col-md-6">
              <select name="country_id" class="form-control"  id="country" onchange="getCountry()" required>
                <option value=""> COUNTRY</option>
                <% var option = [];
                for(item of country){  %> 
                <option value ="<%= item.country_id %>"><%= item.country %></option>
                <% } %>
            </select>
            </div>

            <div class="form-group form-floating-label col-md-6">
              <input  id="fullname" name="surname" type="text" class="form-control input-border-bottom" required>
              <label for="fullname" class="placeholder">Last Name</label>
            </div>
            <div class="form-group form-floating-label col-md-6 ">
              <select name="state_id" class="form-control bd" id="state" onchange="getState()"  required>
                <option disabled selected value>SELECT STATE </option>
              </select>
            </div>
    
            <div class="form-group form-floating-label col-md-6">
              <input  id="email" name="email" type="email" class="form-control input-border-bottom" required>
              <label for="email" class="placeholder">Email</label>
            </div>
            <div class="form-group form-floating-label col-md-6">
              <select name="lga_id" class="form-control bd" id="lga_id" onchange="getLGA()" required>
                <option disabled selected value>SELECT LGA </option>
             </select>
            </div>
            
            
            <div class="form-group form-floating-label col-md-6">
              <input  id="fullname" name="phone" type="text" class="form-control input-border-bottom" required>
              <label for="fullname" class="placeholder">Phone No</label>
            </div>
            <div class="form-group form-floating-label col-md-6">
              <input  name="kin_name" type="kin_name" class="form-control input-border-bottom" required>
              <label for="email" class="placeholder">Kin full Name</label>
            </div>
            
          
            <div class="form-group form-floating-label col-md-6">
              <input name="kin_email" type="email" class="form-control input-border-bottom" required>
              <label for="passwordsignin" class="placeholder">Kin Email</label>
              
            </div>
            <div class="form-group form-floating-label col-md-6">
              <input name="kin_phone" type="kin_phone" class="form-control input-border-bottom" required>
              <label for="confirmpassword" class="placeholder">Kin Phone </label>
              
            </div>
            <div class="form-group form-floating-label col-md-6">
              <textarea  id="fullname" name="address" type="text" class="form-control input-border-bottom" required></textarea>
              <label for="fullname" class="placeholder">Address</label>
            </div>
            <div class="form-group form-floating-label col-md-6">
              <input type="file" name="service_logo" >
              <label for="fullname"  class="placeholder">passport</label>
            </div>
            </div>
            <div class="row form-sub m-0">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="agree" id="agree">
                <label class="custom-control-label" for="agree">I Agree the terms and conditions.</label>
              </div>
            </div>
            <div class="form-action" style="text-align: center;">
              <button type="submit" class="btn btn-primary btn-login">submit</button>
            </div>
          
      </form>
    </div>

  </div>
</div>

<script>
  /*
* select category to get subcategory
*/
function getCountry() {
var country_id = $("#country").val();

$.ajax({
  url: "/api/getstate/"+country_id,
  method: "GET",
  success: function(response){
    getStates(response)
    console.log(response)
  }
})
}

function getStates(result){
if(result.length > 0){
  var html = "";
  html +='<option disabled selected value> STATE </option>';
  for(var a = 0; a < result.length; a++){
    //price = result[a].prices;
    html +='<option value="'+result[a].state_id+'">'+result[a].state+'</option>';
  }
  $('#state').html(html);
} else {
  var html = "";
  html +='<option disabled selected value></option>';
  $('#state').html(html);
}
}
function getState() {
let stateID = $("#state").val();
console.log('this a state id' + stateID);
$.ajax({
  url: "/api/getlga/"+stateID,
  method: "GET",
  success: function(response){
    getLgarecords(response)
    console.log(getLgarecords)
  }
})
}


function getLgarecords(result){
if(result.length > 0){
  var html = "";
  html +='<option disabled selected value>LGA</option>';
  for(var a = 0; a < result.length; a++){
    html +='<option value="'+result[a].lga_id+' ">'+result[a].lga+'</option>';
  }
  $('#lga_id').html(html);
} else {
  var html = "";
  html +='<option disabled selected value></option>';
  $('#lga_id').html(html);
}
}

function getLGA() {
let lgaID = $("#lga_id").val();
console.log('this a lga id' + lgaID);
$.ajax({
  url: "/api/getcity/"+lgaID,
  method: "GET",
  success: function(response){
      getCityrecords(response)
    console.log(getCityrecords)
  }
})
}

function getCityrecords(result){
if(result.length > 0){
  var html = "";
  html +='<option disabled selected value> SELECT LGA</option>';
  for(var a = 0; a < result.length; a++){
    html +='<option value="'+result[a].city_id+' ">'+result[a].city+'</option>';
  }
  $('#city_id').html(html);
} else {
  var html = "";
  html +='<option disabled selected value> No city found </option>';
  $('#city_id').html(html);
}
}
</script>
    <%- include('../layout/admin/loginf') %>