
<%- include('../layout/head') %>
<body>
   <!-- ======= Header ======= -->
   <header id="header" class="fixed-top header-inner-pages">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Dewi</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li class="active"><a href="/login">login</a></li>
          
          <li><a href="#">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->
      
      <a href="#about" class="get-started-btn scrollto">Get Started</a>

    </div>
  </header><!-- End Header -->
<main id="main">
	
  
	<main id="main">
  
	 <!-- ======= Breadcrumbs ======= -->
	 <section class="breadcrumbs">
		<div class="container">
	
		  <div class="d-flex justify-content-between align-items-center">
			<h2>Voters </h2>
			<ol>
			  <li><a href="/">Home</a></li>
			  <li> Voters Check-point</li>
			</ol>
		  </div>
	
		</div>
	  </section><!-- End Breadcrumbs -->
	  <!-- ======= About Boxes Section ======= -->
	  <section id="about-boxes" class="about-boxes">
		<div class="container" data-aos="fade-up">
  
		  <div class="row">
			<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
			  
			</div>
			<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
			  <div class="card">
				<img src="asset/img/about-boxes-2.jpg" class="card-img-top" alt="...">
				<div class="card-icon">
				  <i class="ri-calendar-check-line"></i>
				</div>
				<div class="card-body">
				  <h5 class="card-title"><a href=""><%= contest.names %> <br> <%= poll.title %></a></h5>
				  <h3></h3>
				  <div class="order-2 order-lg-1 mt-3 mt-lg-0">
					<ul style="direction: none;">
						<li><i class="ri-check-double-line"></i><%= contest.state_code %></li>
						<li><i class="ri-check-double-line"></i><%= contest.callup_number %></li>
						<li><i class="ri-check-double-line"></i>Platoon <%= contest.platoon %></li>
					  </ul>
				  </div>
				  <p class="card-text text-center"><%= contest.discipline %> GRADUATE FROM <%= contest.school %></p>
				  <form action="/payment" method="post" role="form" class="">
					
					<div class="form-group" id="amt">
					<span>Vote Counts</span>
					  <input type="number" class="form-control votes" name="votes" id="votes" placeholder="Number of times you wish to vote" onchange="num()" required />
					  <input type="hidden" name="contestant_id" id="contestant_id" value="<%= contest.id %>">
					  <input type="hidden" name="full_name" id="full_name" value="<%= contest.names %>">
					  <input type="hidden" name="poll_id" id="poll_id" value="<%= poll.id %>">
					  <input type="hidden" name="title"  id="title" value="<%= poll.title %>">
					  
					</div>
					<div class="form-group">
						<input type="email" class="form-control" name="email" id="email" placeholder="enter your email" required  />
						<div class="validate"></div>
					</div>
					<div class="text-center"><button type="submit" id="button2" class="btn btn-primary">Poceed</button></div>
				  </form>
				</div>
			  </div>
			</div>
			<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
			 
			</div>
		  </div>
  
		</div>
	  </section><!-- End About Boxes Section -->
		
	   
  
	</main><!-- End #main -->


<%- include('../layout/footer') %>
<script>
	var c = 0;

	function num() {
		let num = parseInt($('.votes').val());
		console.log(num)
		let amount = num * 50;
		console.log(amount)
		c = amount;
		$('#amt').append(`
		<div class="  text-right">
			<span class="badge badge-danger"> 
				NGN${amount}
			</span>
		</div>
		<input type="hidden" class="form-control" name="amount" id="amount" value="${amount}" />
		
		`)
	}

	$("#button2").click(function (e) {
            e.preventDefault();
            $('#button2').prop('disabled', true)
            var votes = $('#votes').val();
            var contestant_id = $('#contestant_id').val();
            var full_name = $('#full_name').val();
            var poll_id = $('#poll_id').val();
            var title = $('#title').val();
            var email = $('#email').val();
            var amount = $('#amount').val();
            
            let timerInterval
            Swal.fire({
                title: 'Processing ...',
                // html: 'Saving D.',
                timer: 2000,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading()
                    const b = Swal.getHtmlContainer().querySelector('b')
                    timerInterval = setInterval(() => {
                        b.textContent = Swal.getTimerLeft()
                    }, 100)
                },
                willClose: () => {
                    clearInterval(timerInterval)
                }
            }).then((result) => {
                $.ajax({
                    url: "/payment",
                    method: "POST",
                    cache: false,
                    dataType: "json",
                    // timeout: 3000,
                    data: {
                        votes: votes,
                        contestant_id: contestant_id,
                        full_name: full_name,
                        poll_id: poll_id,
                        title: title,
                        email: email,
                        amount: amount,
                        
                    },
                    success: function (response) {
                        $('#button2').prop('disabled', false)
                        let result1 = response.result;
                        console.log(result1)
                        if (response.msg == "success") {
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'Contestant has been saved',
                                showConfirmButton: false,
                                timer: 1500
                            }).then((rr) => {
								$(location).attr('href', result1);
							})
                        } else {
                            Swal.fire({
                                position: "top-end",
                                title: response.msg,
                                showCancelButton: false,
                            });
                        }
                    },
                    error: function (e) {
                        $('#button2').prop('disabled', false)
                        Swal.fire({
                            position: "top-end",
                            icon: "warning",
                            title: e.message,
                            showConfirmButton: false,
                            timer: 5000,
                        });
                    },
                });
            });
        })
</script>