
    <% Object.keys(messages).forEach(function (type) { %>
      <ul class="">
      <div class="alert alert-<%= type %>" >
      <% messages[type].forEach(function (message) { %>
        <%= message %>
      <% }) %>
    </div>
    <% }) %>