<head>
	<title>RS-CAMP VOTE</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!-- CSS only -->
	<link rel="stylesheet" href="/assets/css/main.css" />
	<style>
		div#content1 {
			position: relative;
			border-radius: 5px;
			border: 1px solid rgb(211, 76, 22);;
			padding: 40px;
			border-radius: 5px;
		}
		div#content1 label {
			/* color: white; */
			line-height: 20px;
			padding: 0 5px;
			position: absolute;
			background-color: white;
			/* Adjust these values to posiytion the title or label */
			top: -10px;
			left: 10px;
		}
	</style>
</head>