	<!-- Sidebar -->
    <div class="sidebar">
			
        <div class="sidebar-background"></div>
        <div class="sidebar-wrapper scrollbar-inner">
            <div class="sidebar-content">
                <div class="user">
                    <div class="avatar-sm float-left mr-2">
                        <img src="/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                    </div>
                    <div class="info">
                        <% if(login.group_id == 111111 || login.group_id == 222222) {  %>
                        <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                            <span>
                                <%=  login.name %>

                                <span class="user-level">
                                    <%=  login.username %>
                                </span>
                                <span class="caret"></span>
                            </span>
                        </a>
                        <%} else if(login.group_id == 333333 || login.group_id == 555555 ) {  %>
                            <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                                <span>
                                    <%=  login.name %>
    
                                    <span class="user-level">
                                        <%=  login.username %>
                                    </span>
                                    <span class="caret"></span>
                                </span>
                            </a>
                        <%} else if(login.group_id == 444444) {  %>
                            <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                                <span>
                                    <%=  login.name %> 
                                    <!-- <br> -->
                                    <!-- Patient -->
                                    <span class="user-level">
                                        <%=  login.username %>
                                        
                                    </span>
                                    <span class="caret"></span>
                                </span>
                            </a>
                        <%}%>
                        <div class="clearfix"></div>

                        <div class="collapse in" id="collapseExample">
                            <ul class="nav">
                                <li>
                                    <a href="/admin/profile">
                                        <span class="link-collapse">My Profile</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <% if(login.group_id == 111111 || login.group_id == 222222) {  %>
                <ul class="nav">
                    <% if(link=="/api/dashboard"){ %>
                    <li class="nav-item active">
                        <a href="/api/dashboard">
                            <i class="fas fa-home"></i>
                            <p>Dashboard</p>
                            <!-- <span class="badge badge-count">5</span> -->
                        </a>
                    </li>
                    <%} else {%>
                    <li class="nav-item ">
                        <a href="/api/dashboard">
                            <i class="fas fa-home"></i>
                            <p>Dashboard</p>
                            <!-- <span class="badge badge-count">5</span> -->
                        </a>
                    </li>
                    <%} %>
                    <li class="nav-section">
                        <span class="sidebar-mini-icon">
                            <i class="fa fa-ellipsis-h"></i>
                        </span>
                        <h4 class="text-section"> MGT</h4>
                    </li>
                    <% if( link=="/aplicant_registration"){ %>
                        <li class="nav-item active">
                            <a  href="/aplicant_registration">
                                <i class="fa fa-users text-warning"></i>
                                <p> View / Register Staff</p>
                                
                            </a>
                       </li>
                    <%} else {%>
                        <li class="nav-item">
                            <a  href="/aplicant_registration">
                                <i class="fa fa-users text-warning"></i>
                                <p>View / Register Staff</p>
                                
                            </a>
                       </li>
                    <%} %>

                    <% if( link=="/patient_registration"){ %>
                        <li class="nav-item active">
                            <a  href="/patient_registration">
                                <i class="fa fa-users text-success"></i>
                                <p> View / Register Patient</p>
                                
                            </a>
                       </li>
                    <%} else {%>
                        <li class="nav-item">
                            <a  href="/patient_registration">
                                <i class="fa fa-users text-success"></i>
                                <p>View / Register Patient</p>
                                
                            </a>
                       </li>
                    <%} %>
                    
                       
                    
                    
                    
                    <!-- <li class="nav-item">
                        <a href="widgets.html">
                            <i class=" flaticon-settings text-danger"></i>
                            <p>Settings</p>
                            <span class="badge badge-count badge-success">4</span>
                        </a>
                    </li> -->
                    
                   
                </ul>
                <%} else if(login.group_id == 333333 || login.group_id == 555555 ) {  %>
                    <ul class="nav">
                        <% if(link=="/api/dashboard"){ %>
                        <li class="nav-item active">
                            <a href="/api/dashboard">
                                <i class="fas fa-home"></i>
                                <p>Dashboard</p>
                                <!-- <span class="badge badge-count">5</span> -->
                            </a>
                        </li>
                        <%} else {%>
                        <li class="nav-item ">
                            <a href="/api/dashboard">
                                <i class="fas fa-home"></i>
                                <p>Dashboard</p>
                                <!-- <span class="badge badge-count">5</span> -->
                            </a>
                        </li>
                        <%} %>
                        

                        <% if( link=="/patient_registration"){ %>
                            <li class="nav-item active">
                                <a  href="/patient_registration">
                                    <i class="fa fa-users text-success"></i>
                                    <p> View / Register Patient</p>
                                    
                                </a>
                           </li>
                        <%} else {%>
                            <li class="nav-item">
                                <a  href="/patient_registration">
                                    <i class="fa fa-users text-success"></i>
                                    <p>View / Register Patient</p>
                                    
                                </a>
                           </li>
                        <%} %>
                        <!--<% if(link=="/asign_doctor_to_patient"){ %>-->
                        <!--    <li class="nav-item active">-->
                        <!--        <a href="/asign_doctor_to_patient">-->
                        <!--            <i class="fas fa-user text-success"></i>-->
                        <!--            <p>Asigned staff</p>-->
                                    <!-- <span class="badge badge-count">5</span> -->
                        <!--        </a>-->
                        <!--    </li>-->
                        <!--    <%} else {%>-->
                        <!--    <li class="nav-item ">-->
                        <!--        <a href="/asign_doctor_to_patient">-->
                        <!--            <i class="fas fa-user text-success"></i>-->
                        <!--            <p>Asigned staff</p>-->
                                    <!-- <span class="badge badge-count">5</span> -->
                        <!--        </a>-->
                        <!--    </li>-->
                        <!--<%} %>-->
                    </ul>
                <%} else if(login.group_id == 444444) {  %>
                    <ul class="nav">
                        <% if(link=="/api/dashboard"){ %>
                        <li class="nav-item active">
                            <a href="/api/dashboard">
                                <i class="fas fa-home"></i>
                                <p>Dashboard</p>
                                <!-- <span class="badge badge-count">5</span> -->
                            </a>
                        </li>
                        <%} else {%>
                        <li class="nav-item ">
                            <a href="/api/dashboard">
                                <i class="fas fa-home"></i>
                                <p>Dashboard</p>
                                <!-- <span class="badge badge-count">5</span> -->
                            </a>
                        </li>
                        <%} %>

                        <% if(link=="/view_diagnose_medical_report"){ %>
                            <li class="nav-item active">
                                <a href="/view_diagnose_medical_report">
                                    <i class="fas fa-chalkboard-teacher text-danger"></i>
                                    <p>Diagnose/Text Result</p>
                                    <!-- <span class="badge badge-count">5</span> -->
                                </a>
                            </li>
                            <%} else {%>
                            <li class="nav-item ">
                                <a href="/view_diagnose_medical_report">
                                    <i class="fas fa-chalkboard-teacher text-danger"></i>
                                    <p>Diagnose/Text Result</p>
                                    <!-- <span class="badge badge-count">5</span> -->
                                </a>
                            </li>
                        <%} %>

                        
                    </ul>
                <%}%>
            </div>
        </div>
    </div>
    <!-- End Sidebar -->