<%-include('../../layout/admin/head') %>
<%- include('../../layout/admin/nav') %>
<%- include('../../layout/admin/sidebar') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Doctor Assignment</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Assign Doctoor</a>
                    </li>
                </ul>
            </div>
            <div class="row">
               

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title"></h4>
                                <% if (login.group_id == 444444) {%>
                                <% } else {%>
                                <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                    <i class="fa fa-plus"></i>
                                    assign staff
                                </button>
                                <% }%>
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <div class="table-responsive">
                                <table id="multi-filter-select" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            <th>Staff Name</th>
                                            <th>Designation</th>
                                            <th>Diagnosis</th>
                                            <th>Details</th>
                                            <th>Patient</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <% assigns.forEach(function(staff){%>
                                            <tr>
                                                <td>
                                                    <%= staff.surname %>, <%= staff.firstname %> <%= staff.middlename %> - <%= staff.specialization %>
                                                </td>
                                                <td><%= staff.designation %></td>
                                                <td><%= staff.DiaDetail%></td>
                                                <td><%= staff.Description%></td>
                                                <td><%= staff.PatName%></td>
                                                <td>
                                                    <div class="form-button-action">
                                                        <% if (login.group_id == 444444) {%>
                                                             <%# staff.DiagDate.toDateString()%>
                                                            <a  href="/aplicant_profile?applicantno=<%= staff.staff_id%>" data-toggle="tooltip" title="" class="btn btn-link btn-primary " data-original-title="View Doctor's Details">
                                                                <i class="fa fa-eye"></i>
                                                            </a>
                                                            <a  href="/send_email_messages?staff_registration_id=<%= staff.staff_id  %>&email_address=<%= staff.email  %>&name=<%= staff.firstname %> <%= staff.middlename %> <%= staff.surname %>" data-toggle="tooltip" title="" class="btn btn-link btn-info  " data-original-title="Send Email">
                                                                <i class="fas fa-envelope"></i>
                                                            </a>
                                                        <% } else {%>
                                                       
                                                            <a  href="/aplicant_profile?applicantno=<%= staff.staff_id%>" data-toggle="tooltip" title="" class="btn btn-link btn-primary " data-original-title="View Doctor's Details">
                                                                <i class="fa fa-eye"></i>
                                                            </a>
                                                        <a href="/deleted_diagnosis_details?DiagID=<%= staff.DiagID %>" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Delete">
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                        <a  href="/send_email_messages?staff_registration_id=<%= staff.staff_id  %>&email_address=<%= staff.email  %>&name=<%= staff.firstname %> <%= staff.middlename %> <%= staff.surname %>" data-toggle="tooltip" title="" class="btn btn-link btn-info  " data-original-title="Send Email">
                                                            <i class="fas fa-envelope"></i>
                                                        </a>
                                                        <% }%>
                                                    </div>
                                                </td>
                                            </tr>
                                        <%});%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>  
        </div>
    </div>
    
</div>
<!-- Modal -->
<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  " role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" style="text-align: center;">
                    <span class="fw-mediumbold">
                    ASSIGN DOCTOR </span> 
                    <span class="fw-light">
                        TO PATIENT
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <!-- <p class="small">Create a new row using this form, make sure you fill them all</p> -->
                <form action="/asign_doctor_to_patient?DiagID=<%= diagnosisid %>&PatID=<%= ID%>" method="post">
                
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Staffs</label>
                                <select name="staff_id" class="form-control" id="">
                                    <option value="">SELECT MEDICAL STAFFS</option>
                                    <% staffs.forEach(function(staff) {%>
                                        <option value="<%= staff.staff_reg_id %>"><%= staff.surname %>, <%= staff.firstname %> <%= staff.middlename %> - <%= staff.specialization %></option>
                                    <%});%>
                                </select>
                            </div>
                        </div>
                        
                    </div>
                    <div style="text-align: right;">
                        <button type="submit" id="addStaff" class="btn btn-primary">submit</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer no-bd">
               
                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>


<%- include('../../layout/admin/footer') %>
<script >
   
    $(document).ready(function() {
        
        // $("#kin_phone").

        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable( {
            "pageLength": 10,
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                            );

                        column
                        .search( val ? '^'+val+'$' : '', true, false )
                        .draw();
                    } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    });
                } );
            }
        });

        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function() {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
                ]);
            $('#addRowModal').modal('hide');

        });
    });
</script>