
<%- include('../../layout/admin/head') %>
<%- include('../../layout/admin/nav') %>

   		
    <!-- Section -->
    <section>
        <div id="content1" >
            <label><span><b>CONTESTANT REGISTRATION FORM</b></span></label>
            <div class="col-12 col-12-medium">
                    <form method="post" action="#">
                        <div class="row gtr-uniform">
                            <div class="col-12 col-12-xsmall">
                                <input type="text" name="name" id="name" value="" placeholder="Name" />
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <input type="email" name="email" id="email" value="" placeholder="Email" />
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <input type="text" name="phone" id="phone" value="" placeholder="Phone Number" />
                            </div>
                            <!-- Break -->
                            <div class="col-4 col-12-xsmal">
                                <input type="text" name="state_code" id="state_code" value="" placeholder="STATE CODE" />
                            </div>
                            <div class="col-4 col-12-xsmal">
                                <input type="text" name="callup_number" id="callup_number" value="" placeholder="CALLUP NUMBER" />
                            </div>
                            <div class="col-4 col-12-xsmal">
                                <input type="text" name="graduated_year" id="graduated_year" value="" placeholder="GRADUATION YEAR" />
                            </div>
                            <!-- Break -->
                            <div class="col-3 col-12-small">
                                <select name="gender" id="gender">
                                    <option value="">GENDER</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            <!-- Break -->
                            <div class="col-5 col-12-small">
                                <input type="TEXT" name="school" id="school" value="" placeholder="SCHOOL" />
                            </div>
                            <!-- Break -->
                            <div class="col-4 col-12-small">
                                <input type="TEXT" name="discipline" id="discipline" value="" placeholder="DISCIPLINE " />
                            </div>
                            <div class="col-4 col-12-small">
                                <input type="TEXT" name="department" id="department" value="" placeholder="DEPARTMENT" />
                            </div>
                            <!-- Break -->
                            <div class="col-4 col-12-small">
                                <input type="TEXT" name="batch" id="batch" value="" placeholder="BATCH " />
                            </div>
                            <div class="col-4 col-12-small">
                                <input type="TEXT" name="streem" id="streem" value="" placeholder="STREAM" />
                            </div>
                            <!-- Break -->
                            <div class="col-6 col-12-small">
                                <select name="contest_for" id="contest_for">
                                    <option value="">SELECT POSITION CONTESTING FOR</option>
                                   <% poll.forEach(function(p) {%>
                                      <option value="<%= p.id%>"><%= p.title %></option>
                                   <%});%>
                                </select>
                            </div>
                            <div class="col-6 col-12-small">
                                <select name="platoon" id="platoon">
                                    <option value="">SELECT PLATOON</option>
                                    <option value="Platoon 1">Platoon 1</option>
                                    <option value="Platoon 2">Platoon 2</option>
                                    <option value="Platoon 3">Platoon 3</option>
                                    <option value="Platoon 4">Platoon 4</option>
                                    <option value="Platoon 5">Platoon 5</option>
                                    <option value="Platoon 6">Platoon 6</option>
                                    <option value="Platoon 7">Platoon 7</option>
                                    <option value="Platoon 8">Platoon 8</option>
                                    <option value="Platoon 9">Platoon 9</option>
                                    <option value="Platoon 10">Platoon 10</option>
                                </select>
                            </div>
                            
                            <div class="col-12">
                                <div class="actions" style="text-align: right;">
                                    <input type="submit" id="button2" value="submit" class="primary" />
                                    <input type="reset" value="Reset" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </section>

<!-- Section -->
<%- include('../../layout/admin/footer') %>
    <script>

        $("#button2").click(function (e) {
            e.preventDefault();
            $('#button2').prop('disabled', true)
            var name = $('#name').val();
            var email = $('#email').val();
            var phone = $('#phone').val();
            var state_code = $('#state_code').val();
            var callup_number = $('#callup_number').val();
            var graduated_year = $('#graduated_year').val();
            var gender = $('#gender').val();
            var school = $('#school').val();
            var discipline = $('#discipline').val();
            var department = $('#department').val();
            var batch = $('#batch').val();
            var streem = $('#streem').val();
            var contest_for = $('#contest_for').val();
            var platoon = $('#platoon').val();
            let timerInterval
            Swal.fire({
                title: 'Creating Contestant ...',
                // html: 'Saving D.',
                timer: 2000,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading()
                    const b = Swal.getHtmlContainer().querySelector('b')
                    timerInterval = setInterval(() => {
                        b.textContent = Swal.getTimerLeft()
                    }, 100)
                },
                willClose: () => {
                    clearInterval(timerInterval)
                }
            }).then((result) => {
                $.ajax({
                    url: "/create_contestant",
                    method: "POST",
                    cache: false,
                    dataType: "json",
                    // timeout: 3000,
                    data: {
                        names: name,
                        email: email,
                        phone: phone,
                        state_code: state_code,
                        callup_number: callup_number,
                        graduated_year: graduated_year,
                        gender: gender,
                        school: school,
                        discipline: discipline,
                        department: department,
                        batch: batch,
                        stream: streem, 
                        contest_for : contest_for,
                        platoon: platoon
                    },
                    success: function (response) {
                        $('#button2').prop('disabled', false)
                        let result1 = response.result;
                        console.log(result1)
                        if (response.msg == "success") {
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'Contestant has been saved',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        } else {
                            Swal.fire({
                                position: "top-end",
                                title: response.msg,
                                showCancelButton: false,
                            });
                        }
                    },
                    error: function (e) {
                        $('#button2').prop('disabled', false)
                        Swal.fire({
                            position: "top-end",
                            icon: "warning",
                            title: e.message,
                            showConfirmButton: false,
                            timer: 5000,
                        });
                    },
                });
            });
        })

    </script>