
<%-include('../../layout/admin/head') %>
<%- include('../../layout/admin/nav') %>
<%- include('../../layout/admin/sidebar') %>
<!-- End Sidebar -->
<div class="main-panel">
  <div class="content">
    <div class="page-inner">
      <h4 class="page-title">Edit Diagnosis </h4>
      <div class="row">
        <div class="col-md-8">
          <div class="card card-with-nav">
            <div class="card-header">
              <div class="row row-nav-line">
                <%- messages('messages', locals) %>
                <ul class="nav  nav-line nav-color-secondary" id="line-tab" role="tablist">
                  <li class="nav-item"> <a class="nav-link active " data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"> <span class="btn-label just-icon"><i class="flaticon-profile"></i> Diagnosis</span></a> </li>
                  
                </ul>
              </div>
            </div>
            <div  class="tab-content"  >
                <div class="tab-pane fade show active" id="home" >
                    <div class="card-body">
                      <form action="/update_diagnosis_details?DiagID=<%= DiagID %>" method="POST">
                        <div class="row">
                          <div class="col-sm-6">
                              <div class="form-group form-group-default">
                                  <label>Diagnose Detail</label>
                                  <input id="DiaDetail" name="DiaDetail" type="text" value="<%= dia.DiaDetail %>" class="form-control" placeholder="">
                              </div>
                          </div>
                          <div class="col-md-6 pr-0">
                              <div class="form-group form-group-default">
                                  <label>Diagnose Remark</label>
                                  <input id="DiagRemark" name="DiagRemark" type="text" value="<%= dia.DiagRemark %>" class="form-control" placeholder="">
                              </div>
                          </div>
                          
                      </div>
                      
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="form-group form-group-default">
                                  <label>Description</label>
                                  <input id="Description" name="Description" type="text" value="<%= dia.Description %>" class="form-control" placeholder="" required>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group form-group-default has-primary" >
                                  <label>Diagnose Date</label>
                                  <input  type="date" id="DiagDate" name="DiagDate" value="<%= dia.DiagDate %>" class="form-control" required>
                              </div>
                          </div>
                          
                      </div>
                      <div class="row">
                      <!-- <div class="col-md-12">
                          <div class="form-group form-group-default has-primary" >
                              <label>Upload Diagnosis Report</label>
                              <input  type="file" id="diagnreport" name="diagnreport" class="form-control" required>
                          </div>
                      </div> -->
                  </div>
                      <div style="text-align: right;">
                          <button type="submit" id="addStaff" class="btn btn-primary">submit</button>
                      </div>
                  </form>
                    </div>
                </div>
                <!-- <div  class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="line-home-tab" >
                  <div class="card-body">  </div>
                </div>
                <div  class="tab-pane fade " id="settings" role="tabpanel" aria-labelledby="line-home-tab" >
                  <div class="card-body">
                   
                      
                  </div>
                </div> -->
          </div>
          
        </div>
          
          
        </div>
        <div class="col-md-4">
          
        </div>
        
      </div>
    </div>
  </div>
  
</div>

<%- include('../../layout/admin/footer') %>