
<%- include('../../layout/admin/head') %>
<%- include('../../layout/admin/nav') %>

   		
    <!-- Section -->
    <section>
        <div id="content1" >
            <label><span><b><%= contest.names %></b></span></label>
            
                <div class="row">
                    <div class="col-6 col-12-small">
                        <h4>PERSON PROFILE</h4>
                        <ul class="alt">
                            <li><b>NAME:</b> <%= contest.names %></li>
                            <li><b>STATE CODE:</b> <%= contest.state_code %></li>
                            <li><b>CALLUP NO:</b> <%= contest.callup_number %></li>
                            <li><b>BATCH:</b> <%= contest.batch %></li>
                            <li><b>STREAM:</b> <%= contest.stream %></li>
                        </ul>
                    </div>
                    <div class="col-6 col-12-small">
                        <p>
                            <span class="image fit"><img src="/images/pic11.jpg" alt="" /></span>
                        </p>
                        <input type="file" name="photo" id="photo">
                    </div>
                    <!-- Break -->
                    <!-- <div class="col-4 col-12-medium">
                        <h3>Interdum sapien gravida</h3>
                        <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit.</p>
                    </div>
                    <div class="col-4 col-12-medium">
                        <h3>Faucibus consequat lorem</h3>
                        <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit.</p>
                    </div>
                    <div class="col-4 col-12-medium">
                        <h3>Accumsan montes viverra</h3>
                        <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit.</p>
                    </div> -->
                </div>

            </div>
    </section>

<!-- Section -->
<%- include('../../layout/admin/footer_c') %>
