
<%-include('../../layout/admin/head') %>
<body class="login">
	<div class="wrapper wrapper-login">
    <%- messages('messages', locals) %>
		<div class="container container-login animated fadeIn">
      
			<h3 class="text-center">ENTER THE OTP SEND TO YOU</h3>
			<div class="login-form">
				<form action="/view_diagnose_medical_report" method="POST">
          <div class="form-group">
            <label for="password" class="placeholder"><b>OTP</b></label>
            <a href="/resend_sms" class="link float-right">Request new OTP</a>
            <div class="position-relative">
              <input id="password" name="password" type="password" class="form-control" required>
              <div class="show-password">
                <i class="flaticon-interface"></i>
              </div>
            </div>
          </div>
          <div class="form-action">
            <button type="submit" class="btn btn-primary">Confirm</button>
          </div>
        </form>
				
				
				<div class="login-account">
					<!-- <span class="msg">Don't have an account yet ?</span> -->
					<!-- <a href="#" id="show-signup" class="link">Sign Up</a> -->
				</div>
			</div>
		</div>

	
	</div>
<%- include('../../layout/admin/footer') %>