<%-include('../../layout/admin/head') %>
<%- include('../../layout/admin/nav') %>
<%- include('../../layout/admin/sidebar') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title"> Prescribe</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#"><%= patient.PatName%> Prescribe Drugs</a>
                    </li>
                </ul>
            </div>
            <div class="row">
               

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title"></h4>
                                <% if (login.group_id == 444444) {%>
                                    <% } else {%>
                                        <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                            <i class="fa fa-plus"></i>
                                            add medicine
                                        </button>
                                <% }%>
                                
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <div class="table-responsive">
                                <table id="multi-filter-select" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            <th>Medicine</th>
                                            <th>Intructions</th>
                                            <th>Price</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% var total = 0;  %>
                                        <%  var count = 0; %>
                                       <% presc.forEach(function(pre){%>
                                        <% var subtotal = parseFloat(pre.MedPrice); %>
											<%  total += +subtotal; %>
											<%  count++ %> 
                                            <tr>
                                                <td><%= pre.MedName %></td>
                                                <td><%= pre.MedInstruction %></td>
                                                <td>NGN <%= pre.MedPrice.toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");%></td>
                                                <td>
                                                    <% if (login.group_id == 444444) {%>
                                                        <% } else {%>
                                                            <div class="form-button-action">
                                                                <a href="/aplicant_update_details?applicantno=<%= pre.DiagID%>" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Delete">
                                                                    <i class="fa fa-times"></i>
                                                                </a>
                                                            </div>
                                                    <% }%>
                                                    
                                                </td>
                                            </tr>
                                            
                                        <%});%>
                                        <tr>
                                            <td colspan="2" style="text-align: right; ">Total</td>
                                            <td>NGN <%=  total.toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");  %></td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>
<!-- Modal -->
<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header " style="text-align: center;">
                <h5  >
                    <span >
                    Patient 
                        Registration Form.
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <!-- <p class="small">Create a new row using this form, make sure you fill them all</p> -->
                <form action="/prescribe_drugs?DiagID=<%= did %>&PatID=<%= pid%>" method="post"  >
                    <div id="addmore">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group form-group-default">
                                    <label>Medicine Name</label>
                                    <input id="MedName" name="MedName[]" type="text" class="form-control" placeholder="e.g Panadol ">
                                </div>
                            </div>  
                            <div class="col-sm-4">
                                <div class="form-group form-group-default">
                                    <label>Instruction</label>
                                    <textarea id="MedInstruction" name="MedInstruction[]" type="text" class="form-control" placeholder="e.g Dosage" required></textarea>
                                </div>
                            </div>  
                            <div class="col-sm-3">
                                <div class="form-group form-group-default">
                                    <label>Price</label>
                                    <input id="MedPrice" name="MedPrice[]" type="text" class="form-control" placeholder="e.g 100.00" required>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div  style="float: left;">
                                    <button type="button" name="add" id="add" class="btn btn-warning"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div style="text-align: right;">
                        <button type="submit" id="addStaff" class="btn btn-primary">submit</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer no-bd">
               
                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>



<%- include('../../layout/admin/footer') %>

<script>
    $(document).ready(function(){
   
     var revenue_name = $('#revenue_name').val();
    
   
       var i = 1;
       $('#add').click(function(){
           i++;
           $('#addmore').append(`
            <div class="row" id="row${i}">
                <div class="col-sm-4">
                    <div class="form-group form-group-default">
                        <label>Medicine Name</label>
                        <input id="MedName" name="MedName[]" type="text" class="form-control" placeholder="e.g Panadol ">
                    </div>
                </div>  
                <div class="col-sm-4">
                    <div class="form-group form-group-default">
                        <label>Instruction</label>
                        <textarea id="MedInstruction" name="MedInstruction[]" type="text" class="form-control" placeholder="e.g Dosage" required></textarea>
                    </div>
                </div>  
                <div class="col-sm-3">
                    <div class="form-group form-group-default">
                        <label>Price</label>
                        <input id="MedPrice" name="MedPrice[]" type="text" class="form-control" placeholder="e.g 100.00" required>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div style="flaot:left">
                        <button name="remove" class="btn btn-danger  btn_remove" id="${i}">X</button>
                    </div>
                </div>
            </div>
        `);
       });
       
       $(document).on('click', '.btn_remove', function(){
           var button_id = $(this).attr("id"); 
           $('#row'+button_id+'').remove();
       });

       
       
       
   });
   </script>


<script >
   
    $(document).ready(function() {
        
        // $("#kin_phone").

        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable( {
            "pageLength": 10,
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                            );

                        column
                        .search( val ? '^'+val+'$' : '', true, false )
                        .draw();
                    } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    });
                } );
            }
        });

        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function() {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
                ]);
            $('#addRowModal').modal('hide');

        });
    });
</script>