<%-include('../../layout/admin/head') %>
<%- include('../../layout/admin/nav') %>
<%- include('../../layout/admin/sidebar') %>


<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title"> Prescribe</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#"> Prescribe Drugs</a>
                    </li>
                </ul>
            </div>
            <div class="row">
               

                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title"></h4>
                                
                                
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <form action="/send_email_messages?staff_registration_id=<%= staff_id  %>&email_address=<%= email  %>&name=<%= name %>  " method="post"  >
                                <div id="addmore">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group form-group-default">
                                                <label>Email Address</label>
                                                <input id="email"  name="email" type="text" class="form-control" value="<%= email %>" placeholder=" ">
                                            </div>
                                        </div> 
                                        <div class="col-sm-6">
                                            <div class="form-group form-group-default">
                                                <label>Name</label>
                                                <input id="name"  name="name" type="text" class="form-control" value="<%= name %>" placeholder=" ">
                                            </div>
                                        </div> 
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>SUBJECT</label>
                                                <input id="subject" name="subject" type="text" class="form-control" placeholder=" ">
                                            </div>
                                        </div>  
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>MESSAGE</label>
                                                <textarea id="editor" name="message" rows="6" type="text" class="form-control" placeholder="" required></textarea>
                                            </div>
                                        </div>  
                                        
                                    </div>
                                </div>
                                
                                <div style="text-align: right;">
                                    <button type="submit" id="addStaff" class="btn btn-primary">submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>

<script>
    BalloonEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
</script>

<%- include('../../layout/admin/footer') %>


