
<%-include('../../layout/admin/head') %>
<%- include('../../layout/admin/nav') %>
<%- include('../../layout/admin/sidebar') %>
<!-- End Sidebar -->
<div class="main-panel">
  <div class="content">
    <div class="page-inner">
      <h4 class="page-title">Patient Profile</h4>
      <div class="row">
        <div class="col-md-8">
          <div class="card card-with-nav">
            <div class="card-header">
              <div class="row row-nav-line">
                <%- messages('messages', locals) %>
                <ul class="nav  nav-line nav-color-secondary" id="line-tab" role="tablist">
                  <li class="nav-item"> <a class="nav-link active " data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"> <span class="btn-label just-icon"><i class="flaticon-profile"></i> Profile</span></a> </li>
                  <!--<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Academic</a> </li>-->
                  <!--<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Assigned</a> </li>-->
                </ul>
              </div>
            </div>
            <div  class="tab-content"  >
                <div class="tab-pane fade show active" id="home" >
                    <div class="card-body">
                      <form action="/patient_profile?patient=<%= patid %>" method="POST">
                        <div class="row mt-3">
                          <div class="col-md-4">
                              <div class="form-group form-group-default">
                                <label>Name</label>
                                <input type="text" class="form-control" name="PatName" placeholder="First Name" value="<%= patient.PatName %>">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group form-group-default">
                                <label>Email</label>
                                <input type="text" class="form-control" name="PatEmail" placeholder="Middle Name" value="<%= patient.PatEmail %>">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group form-group-default">
                                <label>Surname</label>
                                <input type="text" class="form-control" name="PatPhone" placeholder="Surname" value="<%= patient.PatPhone %>">
                              </div>
                          </div>
                        </div>
                        
                        
                        
                        <div class="row mt-3">
                          <div class="col-md-12">
                            <div class="form-group form-group-default">
                              <label>Kins Address</label>
                              <textarea class="form-control" name="PaAddress" placeholder="Patient Address" rows="3"><%= patient.PaAddress%></textarea>
                            </div>
                          </div>
                        </div>
                        
                        
                        <% if (login.group_id == 111111 ) {%>
                          <div class="text-right mt-3 mb-3">
                            <button class="btn btn-primary">Save Changes</button>
                            <!-- <button class="btn btn-danger">Reset</button> -->
                          </div>
                          <% } else {%>
                        <% }%>
                      </form>
                    </div>
                </div>
                <!-- <div  class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="line-home-tab" >
                  <div class="card-body">  </div>
                </div>
                <div  class="tab-pane fade " id="settings" role="tabpanel" aria-labelledby="line-home-tab" >
                  <div class="card-body">
                   
                      
                  </div>
                </div> -->
          </div>
          
        </div>
          
          
        </div>
        <div class="col-md-4">
          <div class="card card-profile card-secondary">
            <div class="card-header" style="background-image: url('assets/img/blogpost.jpg')">
              <div class="profile-picture">
                <div class="avatar avatar-xl">
                  <img src="/<%= patient.photo%>" alt="..." class="avatar-img rounded-circle">
                </div>
              </div>
            </div>
            <div class="card-body">
             <!--  <div class="user-profile text-center">
                <div class="name"><%= patient.firstname %>  <%= patient.middlename %> <%= patient.surname %></div>
                <div class="job"><%= patient.designation %>
                </div>
                <div class="social-media">
                  <a class="btn btn-staff btn-twitter btn-sm btn-link" href="#"> 
                    <span class="btn-label just-icon"><i class="flaticon-twitter"></i> </span>
                  </a>
                  <a class="btn btn-danger btn-sm btn-link" rel="publisher" href="#"> 
                    <span class="btn-label just-icon"><i class="flaticon-google-plus"></i> </span> 
                  </a>
                  <a class="btn btn-primary btn-sm btn-link" rel="publisher" href="#"> 
                    <span class="btn-label just-icon"><i class="flaticon-facebook"></i> </span> 
                  </a>
                  <a class="btn btn-danger btn-sm btn-link" rel="publisher" href="#"> 
                    <span class="btn-label just-icon"><i class="flaticon-dribbble"></i> </span> 
                  </a>
                </div>
                <div class="view-profile">
                  <a href="#" class="btn btn-secondary btn-block">View Full Profile</a>
                </div> 
              </div>
            </div> -->
            <div class="card-footer">
              <div class="row user-stats text-center">
                <div class="col">
                  <div class="number">125</div>
                  <div class="title">Boys</div>
                </div>
                <div class="col">
                    <div class="number">125</div>
                    <div class="title">Girls</div>
                  </div>
                <div class="col">
                  <div class="number">250</div>
                  <div class="title">Total</div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

<%- include('../../layout/admin/footer') %>