
<%- include('../../layout/admin/head') %>
<%- include('../../layout/admin/nav') %>

    <!-- Section -->
    <section>
        <div id="content1" >
            <label><span><b>USER ENROLLMENT FORM</b></span></label>
            <form method="post" action="#">
                <div class="row gtr-uniform">
                    <div class="col-6 col-12-xsmall">
                        <input type="text" name="name" id="name" value="" placeholder="Name" required />
                    </div>
                    <div class="col-6 col-12-xsmall">
                        <input type="email" name="email" id="email" value="" placeholder="Email" required/>
                    </div>
                    <!-- Break -->
                    <div class="col-6 col-12-xsmal">
                        <input type="text" name="phone_number" id="phone_number" value="" placeholder="Phone number" required/>
                    </div> 
                    <!-- Break -->
                    <div class="col-6 col-12-small">
                        <input type="password" name="password" id="password" value="" placeholder="password" required />
                    </div>
                    <!-- Break -->
                    <div class="col-12">
                        <textarea name="demo-message" id="demo-message" placeholder="Address" rows="3" required></textarea>
                    </div>
                    <!-- Break -->
                    <div class="col-12">
                        <div class="actions" style="text-align: right;">
                            <input type="submit" id="button2" value="Send Message" class="primary"/>
                            <input type="reset" value="Reset" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
<!-- Section -->

<%- include('../../layout/admin/footer') %>
    <script>

        $("#button2").click(function (e) {
            e.preventDefault();
            $('#button2').prop('disabled', true)
            var name = $('#name').val();
            var email = $('#email').val();
            var password = $('#password').val();
            var Address = $('#Address').val();
            var phone_number = $('#phone_number').val();
            let timerInterval
            Swal.fire({
                title: 'Creating User ...',
                // html: 'Saving D.',
                timer: 2000,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading()
                    const b = Swal.getHtmlContainer().querySelector('b')
                    timerInterval = setInterval(() => {
                        b.textContent = Swal.getTimerLeft()
                    }, 100)
                },
                willClose: () => {
                    clearInterval(timerInterval)
                }
            }).then((result) => {
                $.ajax({
                    url: "/staff_enrollment",
                    method: "POST",
                    cache: false,
                    dataType: "json",
                    // timeout: 3000,
                    data: {
                        name: name,
                        email: email,
                        password: password,
                        Address: Address,
                        phone_number: phone_number
                    },
                    success: function (response) {
                        $('#button2').prop('disabled', false)
                        let result1 = response.result;
                        console.log(result1)
                        if (response.msg == "success") {
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'User has been saved',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        } else {
                            Swal.fire({
                                position: "top-end",
                                title: response.msg,
                                showCancelButton: false,
                            });
                        }
                    },
                    error: function (e) {
                        $('#button2').prop('disabled', false)
                        Swal.fire({
                            position: "top-end",
                            icon: "warning",
                            title: e.message,
                            showConfirmButton: false,
                            timer: 5000,
                        });
                    },
                });
            });
        })

    </script>