
<%-include('../../layout/admin/head') %>
<%- include('../../layout/admin/nav') %>
<%- include('../../layout/admin/sidebar') %>
<!-- End Sidebar -->
<div class="main-panel">
  <div class="content">
    <div class="page-inner">
      <h4 class="page-title">Staff Profile</h4>
      <div class="row">
        <div class="col-md-8">
          <div class="card card-with-nav">
            <div class="card-header">
              <div class="row row-nav-line">
                <%- messages('messages', locals) %>
                <ul class="nav  nav-line nav-color-secondary" id="line-tab" role="tablist">
                  <li class="nav-item"> <a class="nav-link active " data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"> <span class="btn-label just-icon"><i class="flaticon-profile"></i> Profile</span></a> </li>
                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Academic</a> </li>
                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Assigned</a> </li>
                </ul>
              </div>
            </div>
            <div  class="tab-content"  >
                <div class="tab-pane fade show active" id="home" >
                    <div class="card-body">
                      <form action="/edit_staff_detais?staff_id=<%= staffID%>" method="POST">
                        <div class="row mt-3">
                          <div class="col-md-4">
                              <div class="form-group form-group-default">
                                <label>First Name</label>
                                <input type="text" class="form-control" name="firstname" placeholder="First Name" value="<%= staff.firstname %>">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group form-group-default">
                                <label>Middle Name</label>
                                <input type="text" class="form-control" name="middlename" placeholder="Middle Name" value="<%= staff.middlename %>">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group form-group-default">
                                <label>Surname</label>
                                <input type="text" class="form-control" name="surname" placeholder="Surname" value="<%= staff.surname %>">
                              </div>
                          </div>
                        </div>
                        <div class="row mt-3">
                          <div class="col-md-6">
                            <div class="form-group form-group-default">
                              <label>Birth Date</label>
                              <input type="text" class="form-control" id="datepicker" name="datepicker" value="<%= staff.dateofbirth %>" placeholder="mm/dd/yyyy">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group form-group-default">
                              <label>Gender</label>
                              <select class="form-control" id="gender">
                               <option value="<%= staff.gender %>" selected><%= staff.gender %></option>
                                <option>Male</option>
                                <option>Female</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row mt-3">
                          <div class="col-md-6">
                            <div class="form-group form-group-default">
                              <label>personal phone no</label>
                              <input type="number" class="form-control" id="personal_phone_no" name="personal_phone_no" value="<%= staff.personal_phone_no %>" placeholder="e.g 08100000000">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group form-group-default">
                              <label>home address</label>
                              <input type="text" class="form-control" id="home_address" name="home_address" value="<%= staff.home_address %>" placeholder="">
                            </div>
                          </div>
                        </div>
                        <div class="row mt-3 mb-1">
                          <div class="col-md-6">
                            <div class="form-group form-group-default">
                              <label>kins Name</label>
                              <input type="text" class="form-control" value="<%= staff.kin_name%>" name="kin_name" placeholder="Next Of Kins Name">
                              
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group form-group-default">
                              <label>Kins Phone</label>
                              <input type="text" class="form-control" value="<%= staff.kin_phone%>" name="kin_phone" placeholder="Next Of Kins Phone">
                              
                            </div>
                          </div>
                        </div>
                        <div class="row mt-3">
                          <div class="col-md-12">
                            <div class="form-group form-group-default">
                              <label>Kins Address</label>
                              <textarea class="form-control" name="guardian_address" placeholder="Kin's Address" rows="3"><%= staff.guardian_address%></textarea>
                            </div>
                          </div>
                        </div>
                        
                        
                        <% if (login.group_id == 111111 ) {%>
                          <div class="text-right mt-3 mb-3">
                            <button class="btn btn-primary">Save Changes</button>
                            <!-- <button class="btn btn-danger">Reset</button> -->
                          </div>
                          <% } else {%>
                        <% }%>
                      </form>
                    </div>
                </div>
                <div  class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="line-home-tab" >
                  <div class="card-body">
                    <form action="/edit_staff_qualification?staff_id=<%= staffID%>" method="POST">
                      <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="form-group form-group-default">
                              <label>specialization</label>
                              <input type="text" class="form-control" name="specialization" placeholder="Teaching" value="<%= staff.specialization %>">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group form-group-default">
                              <label>qualification year</label>
                              <input type="text" class="form-control" name="qualification_year" placeholder="e.g 2010" value="<%= staff.qualification_year %>">
                            </div>
                          </div>
                         
                      </div>
                      <div class="row mt-3">
                        <div class="col-md-6">
                          <div class="form-group form-group-default">
                            <label>highest qualification</label>
                            <input type="text" class="form-control" id="datepicker" name="highest_qualification" value="<%= staff.highest_qualification %>" placeholder="e.g Second degree">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group form-group-default">
                            <label>designation</label>
                            <input type="text" class="form-control" value="<%= staff.designation %>" name="designation" placeholder="e.g Principal">
                          </div>
                        </div>
                      </div>
                      
                      <% if (login.group_id == 111111) {%>
                        <div class="text-right mt-3 mb-3">
                          <button class="btn btn-success">Save Changes</button>
                          <!-- <button class="btn btn-danger">Reset</button> -->
                        </div>
                      <% } else {%>
                      <% }%>
                      
                    </form>
                  </div>
                </div>
                <div  class="tab-pane fade " id="settings" role="tabpanel" aria-labelledby="line-home-tab" >
                  <div class="card-body">
                   
                      
                  </div>
                </div>
          </div>
          
        </div>
          
          
        </div>
        <div class="col-md-4">
          <div class="card card-profile card-secondary">
            <div class="card-header" style="background-image: url('assets/img/blogpost.jpg')">
              <div class="profile-picture">
                <div class="avatar avatar-xl">
                  <img src="/<%= staff.photo%>" alt="..." class="avatar-img rounded-circle">
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="user-profile text-center">
                <div class="name"><%= staff.firstname %>  <%= staff.middlename %> <%= staff.surname %></div>
                <div class="job"><%= staff.designation %>
                </div>
                <div class="social-media">
                  <a class="btn btn-staff btn-twitter btn-sm btn-link" href="#"> 
                    <span class="btn-label just-icon"><i class="flaticon-twitter"></i> </span>
                  </a>
                  <a class="btn btn-danger btn-sm btn-link" rel="publisher" href="#"> 
                    <span class="btn-label just-icon"><i class="flaticon-google-plus"></i> </span> 
                  </a>
                  <a class="btn btn-primary btn-sm btn-link" rel="publisher" href="#"> 
                    <span class="btn-label just-icon"><i class="flaticon-facebook"></i> </span> 
                  </a>
                  <a class="btn btn-danger btn-sm btn-link" rel="publisher" href="#"> 
                    <span class="btn-label just-icon"><i class="flaticon-dribbble"></i> </span> 
                  </a>
                </div>
                <!-- <div class="view-profile">
                  <a href="#" class="btn btn-secondary btn-block">View Full Profile</a>
                </div> -->
              </div>
            </div>
            <div class="card-footer">
              <div class="row user-stats text-center">
                <div class="col">
                  <div class="number">125</div>
                  <div class="title">Boys</div>
                </div>
                <div class="col">
                    <div class="number">125</div>
                    <div class="title">Girls</div>
                  </div>
                <div class="col">
                  <div class="number">250</div>
                  <div class="title">Total</div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<script>
  /*
* select category to get subcategory
*/
function getCountry() {
  var country_id = $("#country").val();
  
  $.ajax({
  url: "/api/getstate/"+country_id,
  method: "GET",
  success: function(response){
    getStates(response)
    console.log(response)
  }
  })
}

function getStates(result){
  if(result.length > 0){
  var html = "";
  html +='<option disabled selected value> SELECT STATE </option>';
  for(var a = 0; a < result.length; a++){
    //price = result[a].prices;
    html +='<option value="'+result[a].state_id+'">'+result[a].state+'</option>';
  }
  $('#state').html(html);
  } else {
  var html = "";
  html +='<option disabled selected value></option>';
  $('#state').html(html);
  }
}
function getState() {
  let stateID = $("#state").val();
  console.log('this a state id' + stateID);
  $.ajax({
  url: "/api/getlga/"+stateID,
  method: "GET",
  success: function(response){
    getLgarecords(response)
    console.log(getLgarecords)
  }
  })
}


function getLgarecords(result){
  if(result.length > 0){
  var html = "";
  html +='<option disabled selected value> SELECT LGA</option>';
  for(var a = 0; a < result.length; a++){
    html +='<option value="'+result[a].lga_id+' ">'+result[a].lga+'</option>';
  }
  $('#lga_id').html(html);
  } else {
  var html = "";
  html +='<option disabled selected value></option>';
  $('#lga_id').html(html);
  }
}

function getLGA() {
  let lgaID = $("#lga_id").val();
  console.log('this a lga id' + lgaID);
  $.ajax({
  url: "/api/getcity/"+lgaID,
  method: "GET",
  success: function(response){
    getCityrecords(response)
    console.log(getCityrecords)
  }
  })
}

function getCityrecords(result){
  if(result.length > 0){
  var html = "";
  html +='<option disabled selected value> SELECT LGA</option>';
  for(var a = 0; a < result.length; a++){
    html +='<option value="'+result[a].city_id+' ">'+result[a].city+'</option>';
  }
  $('#city_id').html(html);
  } else {
  var html = "";
  html +='<option disabled selected value> No city found </option>';
  $('#city_id').html(html);
  }
}
</script>
<%- include('../../layout/admin/footer') %>