
<%- include('../../layout/admin/head') %>
<%- include('../../layout/admin/nav') %>

    <!-- Section -->
    <section>
      <div class="row">
        <div class="col-6 col-12-small">
          <div id="content1" >
            <label><span><b> CREATE POSITIONS </b></span></label>
            <form method="post" action="#">
                <div class="row gtr-uniform">
                    <div class="col-12">
                        <span >Title</span>
                        <input type="text" name="title" id="title" placeholder="e.g ">
                    </div> <br>
                    <div class="col-12">
                        <span >Description</span>
                        <textarea name="description" id="description"  rows="5"></textarea>
                    </div>
                    <!-- Break -->
                    <div class="col-12">
                        <div class="actions" style="text-align: right;">
                            <input type="submit" id="button2" value="SEARCH" class="primary"/>
                            <input type="reset" value="Reset" />
                        </div>
                    </div>
                </div>
            </form>
          </div>
        </div>
        <div class="col-6 col-12-small">
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>TITLE</th>
                            <th>DESCRIPTION</th>
                        </tr>
                    </thead>
                    <tbody id="tr">
                        <% poll.forEach(function(p) {%>
                            <tr>
                                <td><%= p.title %></td>
                                <td><%= p.description %></td>
                            </tr>
                        <%  })%>
                    </tbody>

                </table>
        </div>
      </div>

    </section>


<!-- Section -->
<%- include('../../layout/admin/footer') %>
    <script>

       $("#button2").click(function (e) {
            e.preventDefault();
            $('#button2').prop('disabled', true)
            var title = $('#title').val();
            var description = $('#description').val();

            let timerInterval
            Swal.fire({
                title: 'HOLD WHILE WE CREATE THIS FOR YOU ...',
                // html: 'Saving D.',
                timer: 2000,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading()
                    const b = Swal.getHtmlContainer().querySelector('b')
                    timerInterval = setInterval(() => {
                        b.textContent = Swal.getTimerLeft()
                    }, 100)
                },
                willClose: () => {
                    clearInterval(timerInterval)
                }
            }).then((result) => {
                $.ajax({
                    url: "/mgt_vote_positions",
                    method: "POST",
                    cache: false,
                    dataType: "json",
                    // timeout: 3000,
                    data: {
                        title: title,
                        description: description
                    },
                    success: function (response) {
                        $('#button2').prop('disabled', false)
                        let result1 = response.result;
                        console.log(result1)
                        if (response.msg == "success") {
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'Has been saved',
                                showConfirmButton: false,
                                timer: 1500
                            }).then(() => {
                                $('#tr').append(`
                                <tr>
                                    <td>${result1.title}</td>
                                    <td>${result1.description}</td>
                                </tr>
                                `);
                            })
                        } else {
                            Swal.fire({
                                position: "top-end",
                                title: response.msg,
                                showCancelButton: false,
                            });
                        }
                    },
                    error: function (e) {
                        $('#button2').prop('disabled', false)
                        Swal.fire({
                            position: "top-end",
                            icon: "warning",
                            title: e.message,
                            showConfirmButton: false,
                            timer: 5000,
                        });
                    },
                });
            });
        })
    </script>
