
<%- include('../../layout/admin/head') %>
<%- include('../../layout/admin/nav') %>

    <!-- Section -->
    <section>
      <div class="row">
        <div class="col-9 col-12-small">
          <div id="content1" >
            <label><span><b>SEARCH </b></span></label>
            <form method="post" action="#">
                <div class="row gtr-uniform">
                    <div class="col-12">
                        <select name="year" id="year">
                            <option value="">SELECT YEAR</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                        </select>
                    </div> <br>
                    <div class="col-12">
                        <select name="batch" id="batch">
                            <option value="">BATCH</option>
                            <option value="A">  BATCH A</option>
                            <option value="B">BATCH B</option>
                            <option value="C">BATCH C</option>
                        </select>
                    </div><br>
                    <!-- Break -->
                    <div class="col-12">
                        <select name="stream" id="stream">
                            <option value="">STREAM</option>
                            <option value="1">STREAM I</option>
                            <option value="2">STREAM II</option>
                        </select>
                    </div> 
                    <!-- Break -->
                   
                    <!-- Break -->
                    <div class="col-12">
                        <div class="actions" style="text-align: right;">
                            <input type="submit" id="button2" value="SEARCH" class="primary"/>
                            <input type="reset" value="Reset" />
                        </div>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
        
    </section>

    <div id="output">
        <div class="">
            <!-- Form -->
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>STATE CODE</th>
                            <th>CALLUP NUMBER</th>
                            <th>GRADUATION YEAR</th>
                            <th>DISCIPLINE</th>
                            <th>BATCH</th>
                            <th>STREAM</th>
                            <th>STATUS</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody id="tr">
                        
                        
                        
                </table>
            </div>
        </div>
    </div>
<!-- Section -->
<%- include('../../layout/admin/footer') %>
    <script>
        // to make a dive disappear 
        var divv = document.getElementById("output");
        divv.style.display = "none"
        // SEARCH RESULT OUTPUT
        $("#button2").click(function (e) {
            e.preventDefault();
            var year = $("#year").val();
            var batch = $("#batch").val();
            var stream = $("#stream").val();


            console.log(`${year}  ${batch}  ${stream}`)
            var termResults = []
            $.ajax({
                url: "/search_contestant_result?year=" + year + "&batch=" + batch + "&stream=" + stream,
                method: "GET",
                success: function (response) {
                    console.log(response)
                    if (response.msg == 'success') {
                        divv.style.display = "block"
                        var cnts = response.result
                        if (cnts.length > 0) {
                            var html = '';
                            for (var j = 0; j < cnts.length; j++) {
                                html = `
                                    <tr>
                                        <td>${cnts[j].names}</td>
                                        <td>${cnts[j].state_code} </td>
                                        <td>${cnts[j].callup_number}</td>
                                        <td>${cnts[j].graduated_year}</td>
                                        <td>${cnts[j].discipline} </td>
                                        <td>${cnts[j].batch}</td>
                                        <td>${cnts[j].stream}</td>
                                        <td>${cnts[j].approval} </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                `;
                            };

                            $("#tr").html(html);
                        } else {
                            divv.style.display = "none"
                            Swal.fire({
                                position: "top-end",
                                icon: 'error',
                                title: "The Search parameters, return no record",
                                showConfirmButton: false,
                                timer: 3000
                            });
                        }
                    } else {
                        divv.style.display = "none"
                        Swal.fire({
                            position: "top-end",
                            title: response.msg,
                            showCancelButton: false,
                        });
                    }

                },
                error: function (e) {
                    divv.style.display = "none"
                    Swal.fire({
                        position: "top-end",
                        title: response.msg,
                        showCancelButton: false,
                    });
                },
            });
        });
    </script>