
<%- include('../../layout/admin/head') %>
<%- include('../../layout/admin/nav') %>

    <!-- Section -->
    <section>
        <div class="">
            <!-- Form -->
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>STATE CODE</th>
                            <th>CALLUP NUMBER</th>
                            <th>GRADUATION YEAR</th>
                            <th>DISCIPLINE</th>
                            <th>BATCH</th>
                            <th>STREAM</th>
                            <th>STATUS</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Item1</td>
                            <td>Ante </td>
                            <td>29.99</td>
                            <td>Item1</td>
                            <td>Ante </td>
                            <td>29.99</td>
                            <td>Item1</td>
                            <td>Ante </td>
                            <td>29.99</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
<!-- Section -->

<%- include('../../layout/admin/footer') %>
    