<!-- ======= Footer ======= -->
<footer id="footer">
   

  <div class="container">
    <div class="copyright">
      &copy; RS <strong><span>Vote</span></strong>. All Rights Reserved
    </div>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/asset/vendor/jquery/jquery.min.js"></script>
<script src="/asset/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/asset/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="/asset/vendor/php-email-form/validate.js"></script>
<script src="/asset/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="/asset/vendor/counterup/counterup.min.js"></script>
<script src="/asset/vendor/venobox/venobox.min.js"></script>
<script src="/asset/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="/asset/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/asset/vendor/aos/aos.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Template Main JS File -->
<script src="/asset/js/main.js"></script>