<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>Inner Page - Dewi Bootstrap Template</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="/asset/img/favicon.png" rel="icon">
    <link href="/asset/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="/asset/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/asset/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/asset/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/asset/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/asset/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/asset/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/asset/vendor/aos/aos.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="/asset/css/style.css" rel="stylesheet">
  
    <!-- =======================================================
    * Template Name: Dewi - v2.1.0
    * Template URL: https://bootstrapmade.com/dewi-free-multi-purpose-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <style>
      div#content1 {
        position: relative;
        border-radius: 5px;
        border: 1px solid rgb(211, 76, 22);;
        padding: 40px;
        border-radius: 5px;
      }
      div#content1 label {
        /* color: white; */
        line-height: 20px;
        padding: 0 5px;
        position: absolute;
        background-color: white;
        /* Adjust these values to posiytion the title or label */
        top: -10px;
        left: 10px;
      }
    </style>
  </head>


  